TZ=Asia/Shanghai
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=9ff1ed5d-c318-4d71-8547-679a2bf4b32c
DOMAIN=<域名, 例如：test-minio.yeying.pub>
TLS=<HTTP连接设置为false，HTTPS链接设置为true>
MINIO_BROWSER_REDIRECT_URL=<https://域名或者ip地址:9001>
SECRET_KEY=<需要在MinIO控制台生成，用于API访问>
ACCESS_KEY=<需要在MinIO控制台生成，用于API访问>
