<?xml version="1.0" encoding="UTF-8"?><plist version="1.0"><dict><key>Label</key><string>com.yeying.identity-trust-sync</string><key>ProgramArguments</key><array><string>__SCRIPT__</string></array><key>EnvironmentVariables</key><dict><key>PASSPORT_NODE_URL</key><string>http://localhost:8100</string><key>IDENTITY_TRUST_DIR</key><string>__OUT_DIR__</string><key>LOG_FILE</key><string>__LOG_FILE__</string></dict><key>StartInterval</key><integer>900</integer><key>RunAtLoad</key><true/></dict></plist>
