WEBDAV_USERNAME="yeying_public"
WEBDAV_PASSWORD="Packages@123!"
WEBDAV_BASE_URL="https://webdav.yeying.pub/dav/personal/"
WEBDAV_PREFIX=""
WEBDAV_REMOTE_DIR="public"
WEBDAV_FLAG="all"
NOTIFY_FROM=""
# 是否向钉钉发送通知，可选值：True/Flase
NOTIFY_DINGDING="False"
# 是否向飞书发送通知，可选值：True/Flase
NOTIFY_FEISHU="False"
