WEBDAV_PACKAGE_BASE_URL="https://webdav.yeying.pub/dav/personal/public_community/package"
WEBDAV_PACKAGE_AK="ak_74126d10de1aead0"
WEBDAV_PACKAGE_SK="sk_566b3642e36eccbce9b0f35b5a7af2bad2add5de4a65535b"
WEBDAV_FLAG="all"
NOTIFY_FROM=""
# 是否向钉钉发送通知，可选值：True/Flase
NOTIFY_DINGDING="False"
# 是否向飞书发送通知，可选值：True/Flase
NOTIFY_FEISHU="False"
