# Feishu robot config by scene
# 后续可以按需替换不同场景的值

CREATE_PACKAGE_WEBHOOK_URL='https://open.feishu.cn/open-apis/bot/v2/hook/8ff286bf-de3e-4117-8029-3d983b621402'
CREATE_PACKAGE_SECRET=
CREATE_PACKAGE_PREFIX='[版本生成]'

UPGRADE_SERVICE_WEBHOOK_URL='https://open.feishu.cn/open-apis/bot/v2/hook/8ff286bf-de3e-4117-8029-3d983b621402'
UPGRADE_SERVICE_SECRET=
UPGRADE_SERVICE_PREFIX='[版本升级]'

MONITOR_SERVICE_WEBHOOK_URL='https://open.feishu.cn/open-apis/bot/v2/hook/8ff286bf-de3e-4117-8029-3d983b621402'
MONITOR_SERVICE_SECRET=
MONITOR_SERVICE_PREFIX='[服务监控]'

RELEASE_NOTES_WEBHOOK_URL='https://open.feishu.cn/open-apis/bot/v2/hook/8ff286bf-de3e-4117-8029-3d983b621402'
RELEASE_NOTES_SECRET=
RELEASE_NOTES_PREFIX='[版本变更]'
