services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USERNAME:-admin}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD:-password123}
      MONGO_INITDB_DATABASE: ${MONGO_INIT_DATABASE:-mongodb}
    volumes:
      - ${MONGO_DATA_PATH:-./data}:/data/db
      - ${MONGO_CONFIG_PATH:-./config}:/data/configdb

